<% provide(:page_title, 'Cookie Policy') %>
<% provide(:cookie_policy_active, 'active') %> 
<div class="container privacy">	
	<h2>Cookie policy</h2>
	<br>
	<h3>What’s a cookie?</h3>
	<ul>
		<li>
			A “cookie” is a piece of information that is stored on your computer’s hard drive and which records how you move your way around a website so that, when you revisit that website, it can present tailored options based on the information stored about your last visit. Cookies can also be used to analyze traffic and for advertising and marketing purposes.
		</li>
		<li>
			Cookies are used by nearly all websites and do not harm your system.
		</li>
	</ul>
	<p>
		If you want to check or change what types of cookies you accept, this can usually be altered within your browser settings. You can block cookies at any time by activating the setting on your browser that allows you to refuse the setting of all or some cookies. By not blocking cookies and continuing to browse you are authorizing the use of cookies. If you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.
	</p>
	<h3>How do we use cookies?</h3>
	<ul>
		<li>
			We use cookies to track your use of our website. This enables us to understand how you use the site and track any patterns with regards how you are using our website. This helps us to develop and improve our website as well as products and/or services in response to what you might need or want.
		</li>
		<li> Cookies are either:
			<ul>
				<li>
					Session cookies: these are only stored on your computer during your web session and are 	automatically deleted when you close your browser – they usually store an anonymous 	session ID allowing you to browse a website without having to log in to each page but 	they do not collect any personal data from your computer; or
				</li>
				<li>
					Persistent cookies: a persistent cookie is stored as a file on your computer and it remains 	there when you close your web browser. The cookie can be read by the website that 	created it when you visit that website again. We use persistent cookies for Google 	Analytics and Segment.
				</li>
				<li>
			</ul>		
		</li>
		<li> Cookies can also be categorized as follows:		
			<ul>
				<li>
					Strictly necessary cookies: These cookies are essential to enable you to use the website effectively, such as when buying a product and/or service, and therefore cannot be turned off. Without these cookies, the services available to you on our website cannot be provided. These cookies do not gather information about you that could be used for marketing or remembering where you have been on the internet.
				</li>
				<li>
					Performance cookies: These cookies enable us to monitor and improve the performance of our website. For example, they allow us to count visits, identify traffic sources and see which parts of the site are most popular.
				</li>
				<li>
					Functionality cookies: These cookies allow our website to remember choices you make and provide enhanced features. For instance, we may be able to provide you with news or updates relevant to the services you use. They may also be used to provide services you have requested such as viewing a video or commenting on a blog. The information these cookies collect is usually anonymized.
				</li>
			</ul>
		</li>
	</ul>
</div>