<% provide(:page_title, 'Legal') %>
<% provide(:legal_active, 'active') %> 
<div class="container legal">	
<h2>Disclaimer</h2>
<br>
<p>Any content, materials, information or software downloaded through the use of the website is done at your own discretion and risk. Solart Ltd shall have no responsibility whatsoever for any loss of data that results from the download of any content, materials, information or software.
Solart Ltd reserves the right to make changes or updates to the website at any time without notice.
</p>
<h2>Data Protection</h2>
<br>
<p>Read our <%= link_to "Privacy Policy", pages_privacy_policy_path %> for full details.</p>
<h2>Our Registered Office:</h2>
<br>
<p>
	4B Park Close
	<br>
	OX16 0SX
	<br>
	Banbury
	<br>
	United Kingdom.
	<br>
	<br>
	Solart Ltd is registered in England and Wales
	<br>
	Company No. 07735862

</p>
</div>