<div class="container justifu-content-center margins">
	<h1> Ups!! You don't belong here</h1>
	<h2> That's fine, simlpy click on <b>Sign out<b></h2>
	<h2> Thanks! </h2>
	<br>
	<%= link_to 'Sign out', destroy_user_session_path, class: " WrongUser", method: :delete%>
</div>

