
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  min-height:100%;
  min-width:100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.carousel-inner img_tag { /* important to add img_tag */
  height:100%;
  width:100%;  
}
.carousel-caption {
  poasition: absolute;
  top:60%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: 100%;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500%;
  text-shadow:1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}
/*gif*/
img.irc_mi {      
    width: 100%;
    height: 100%;
}
.solart a {
  color: white;
}

footer {
  background-color : #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;  
}