footer {
  background-color : #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;  
}
.footers:hover {
  color: var(--main-color);
}
.footers:focus {
  color: var(--main-color);
}
/*.footers:active {*/
  

.footers.active {
  color: var(--main-color) !important;
}
.footers {
 font-weight: 300;
}

h5.solart-registered {
    font-weight: 350 !important;
    font-size: 1.2rem;
}