// Below is the code for the error message after an unathorised user try to get into the form_messages
.margins {
    margin-top: 10%;
    margin-bottom: 10%;
}
a.WrongUser {
    font-size: 24px;
    font-family: initial;
}